
<link href="~/Content/Bol.css" rel="stylesheet" />
<div class="modal fade bootstrapmodal1">
    <div class="modal-dialog">

        <div class="modal-content BOL-content" style="width:810px;">
            <div class="container" id="printBOL">
                <div class="modal-header">
                    <img src="~/Content/Images/BolHeader.png" style="background-repeat: no-repeat;background-size: 100% 100%;height: 100px; width:100%;" />
                </div>
                <table style="width:98%;border:none;">
                    <tbody>
                        <tr style="line-height:40px;">
                            <td style="text-align:center;background-color:#BFBFBF;border:0px !important;"><strong style="position:relative;">Vehicle No: </strong></td>
                            <td style="text-align:center;background-color:#BFBFBF;border:0px !important;"> <label class="control-label" id="lbl_Vehbol"></label> </td>
                            <td style="text-align:center;background-color:#D9D9D9;border:0px !important;"> <strong>Shipment No: </strong> </td>
                            <td style="text-align:center;background-color:#D9D9D9;border:0px !important;"> <label class="control-label" id="lbl_Shipbol"></label> </td>
                            <td style="text-align:center;background-color:#BFBFBF;border:0px !important;"> <strong>Customer: </strong> </td>
                            <td style="text-align:center;background-color:#BFBFBF;border:0px !important;"> <label class="control-label" id="lbl_Custbol"></label> </td>
                        </tr>
                        <tr style="line-height:40px;">
                            <td style="text-align:center;background-color:#D9D9D9;"> <strong>Delivery Date: </strong> </td>
                            <td style="text-align:center;background-color:#D9D9D9;"> <label class="control-label" id="lbl_DDatebol"></label> </td>
                            <td style="text-align:center;background-color:#BFBFBF;"> <strong>Entry Time: </strong> </td>
                            <td style="text-align:center;background-color:#BFBFBF;"> <label class="control-label" id="lbl_EntTmebol"></label> </td>
                            <td style="text-align:center;background-color:#D9D9D9;"> <strong>Exist Time: </strong> </td>
                            <td style="text-align:center;background-color:#D9D9D9;"> <label class="control-label" id="lbl_ExtTimebol"></label> </td>
                        </tr>
                        <tr><td colspan="6"></td></tr>
                        <tr><td colspan="6"></td></tr>
                        <tr style="line-height:35px;">
                            <td colspan="6" style="text-align:center;background-color:#BFBFBF;"><strong>Order Summary</strong></td>
                        </tr>
                        <tr style="line-height:20px;">
                            <td style="text-align:center;background-color:#BFBFBF;"> <strong>Order Code </strong> </td>
                            <td style="text-align:center;background-color:#D9D9D9;"> <strong>Product </strong> </td>
                            <td style="text-align:center;background-color:#BFBFBF;"> <strong>Order Qty </strong> </td>
                            <td style="text-align:center;background-color:#D9D9D9;"> <strong>Planned Qty </strong> </td>
                            <td style="text-align:center;background-color:#BFBFBF;"> <strong>Actual Qty </strong> </td>
                            <td style="text-align:center;background-color:#D9D9D9;"> <strong>Dip Qty </strong> </td>
                        </tr>
                        <tr style="line-height:40px;">
                            <td style="text-align:center;background-color:#BFBFBF;"> <label class="control-label" id="lbl_OdrCdebol"></label> </td>
                            <td style="text-align:center;background-color:#D9D9D9;"> <label class="control-label" id="lbl_prodbol"></label> </td>
                            <td style="text-align:center;background-color:#BFBFBF;"> <label class="control-label" id="lbl_Qtybol"></label> </td>
                            <td style="text-align:center;background-color:#D9D9D9;"> <label class="control-label" id="lbl_PlnQtybol"></label> </td>
                            <td style="text-align:center;background-color:#BFBFBF;"> <label class="control-label" id="lbl_ActQtybol"></label> </td>
                            <td style="text-align:center;background-color:#D9D9D9;"> <label class="control-label" id="lbl_ManualQtybol"></label> </td>
                        </tr>
                        <tr><td colspan="6"></td></tr>
                        <tr><td colspan="6"></td></tr>
                    </tbody>
                </table>
                <table style="width:98%;">
                    <tbody>
                        <tr style="line-height:35px;">
                            <td colspan="8" style="text-align:center;background-color:#BFBFBF;"> <strong>Compartment Summary</strong></td>
                        </tr>
                        <tr>
                            <td style="background-color:#BFBFBF;width:125px;"><strong>Comp ID: </strong></td>
                            <td style="background-color:#BFBFBF;"> <label class="control-label" id="lbl_Compidbol1"></label> </td>
                            <td style="background-color:#D9D9D9;width:125px;"> <strong>Comp ID: </strong> </td>
                            <td style="background-color:#D9D9D9;"> <label class="control-label" id="lbl_Compidbol2"></label> </td>
                            <td style="background-color:#BFBFBF;width:125px;"> <strong>Comp ID: </strong> </td>
                            <td style="background-color:#BFBFBF;"> <label class="control-label" id="lbl_Compidbol3"></label> </td>
                            <td style="background-color:#D9D9D9;width:125px;"> <strong>Comp ID: </strong> </td>
                            <td style="background-color:#D9D9D9;"> <label class="control-label" id="lbl_Compidbol4"></label> </td>
                        </tr>
                        <tr>
                            <td style="background-color:#BFBFBF;"><strong>Planned Qty: </strong></td>
                            <td style="background-color:#BFBFBF;"> <label class="control-label" id="lbl_CPlnQtybol1"></label> </td>
                            <td style="background-color:#D9D9D9;"> <strong>Planned Qty: </strong> </td>
                            <td style="background-color:#D9D9D9;"> <label class="control-label" id="lbl_CPlnQtybol2"></label> </td>
                            <td style="background-color:#BFBFBF;"> <strong>Planned Qty: </strong> </td>
                            <td style="background-color:#BFBFBF;"> <label class="control-label" id="lbl_CPlnQtybol3"></label> </td>
                            <td style="background-color:#D9D9D9;"> <strong>Planned Qty: </strong> </td>
                            <td style="background-color:#D9D9D9;"> <label class="control-label" id="lbl_CPlnQtybol4"></label> </td>
                        </tr>
                        <tr>
                            <td style="background-color:#BFBFBF;"><strong>BCU Qty: </strong></td>
                            <td style="background-color:#BFBFBF;"> <label class="control-label" id="lbl_CActQtybol1"></label> </td>
                            <td style="background-color:#D9D9D9;"> <strong>BCU Qty: </strong> </td>
                            <td style="background-color:#D9D9D9;"> <label class="control-label" id="lbl_CActQtybol2"></label> </td>
                            <td style="background-color:#BFBFBF;"> <strong>BCU Qty: </strong> </td>
                            <td style="background-color:#BFBFBF;"> <label class="control-label" id="lbl_CActQtybol3"></label> </td>
                            <td style="background-color:#D9D9D9;"> <strong>BCU Qty: </strong> </td>
                            <td style="background-color:#D9D9D9;"> <label class="control-label" id="lbl_CActQtybol4"></label> </td>
                        </tr>
                        <tr>
                            <td style="background-color:#BFBFBF;"><strong>Pre-Dip: </strong></td>
                            <td style="background-color:#BFBFBF;"> <label class="control-label" id="lbl_PreDip0"></label> </td>
                            <td style="background-color:#D9D9D9;"> <strong>Pre-Dip: </strong> </td>
                            <td style="background-color:#D9D9D9;"> <label class="control-label" id="lbl_PreDip1"></label> </td>
                            <td style="background-color:#BFBFBF;"> <strong>Pre-Dip: </strong> </td>
                            <td style="background-color:#BFBFBF;"> <label class="control-label" id="lbl_PreDip2"></label> </td>
                            <td style="background-color:#D9D9D9;"> <strong>Pre-Dip: </strong> </td>
                            <td style="background-color:#D9D9D9;"> <label class="control-label" id="lbl_PreDip3"></label> </td>
                        </tr>
                        <tr>
                            <td style="background-color:#BFBFBF;"><strong>Post-Dip: </strong></td>
                            <td style="background-color:#BFBFBF;"> <label class="control-label" id="lbl_PostDip0"></label> </td>
                            <td style="background-color:#D9D9D9;"> <strong>Post-Dip: </strong> </td>
                            <td style="background-color:#D9D9D9;"> <label class="control-label" id="lbl_PostDip1"></label> </td>
                            <td style="background-color:#BFBFBF;"> <strong>Post-Dip: </strong> </td>
                            <td style="background-color:#BFBFBF;"> <label class="control-label" id="lbl_PostDip2"></label> </td>
                            <td style="background-color:#D9D9D9;"> <strong>Post-Dip: </strong> </td>
                            <td style="background-color:#D9D9D9;"> <label class="control-label" id="lbl_PostDip3"></label> </td>
                        </tr>
                        <tr><td colspan="6"></td></tr>
                        <tr><td colspan="6"></td></tr>
                        <tr>
                            <td style="background-color:#BFBFBF;"><strong>Comp ID: </strong></td>
                            <td style="background-color:#BFBFBF;"> <label class="control-label" id="lbl_Compidbol5"></label> </td>
                            <td style="background-color:#D9D9D9;"> <strong>Comp ID: </strong> </td>
                            <td style="background-color:#D9D9D9;"> <label class="control-label" id="lbl_Compidbol6"></label> </td>
                            <td style="background-color:#BFBFBF;"> <strong>Comp ID: </strong> </td>
                            <td style="background-color:#BFBFBF;"> <label class="control-label" id="lbl_Compidbol7"></label> </td>
                            <td style="background-color:#D9D9D9;"> <strong>Comp ID: </strong> </td>
                            <td style="background-color:#D9D9D9;"> <label class="control-label" id="lbl_Compidbol8"></label> </td>
                        </tr>
                        <tr>
                            <td style="background-color:#BFBFBF;"><strong>Planned Qty: </strong></td>
                            <td style="background-color:#BFBFBF;"> <label class="control-label" id="lbl_CPlnQtybol5"></label> </td>
                            <td style="background-color:#D9D9D9;"> <strong>Planned Qty: </strong> </td>
                            <td style="background-color:#D9D9D9;"> <label class="control-label" id="lbl_CPlnQtybol6"></label> </td>
                            <td style="background-color:#BFBFBF;"> <strong>Planned Qty: </strong> </td>
                            <td style="background-color:#BFBFBF;"> <label class="control-label" id="lbl_CPlnQtybol7"></label> </td>
                            <td style="background-color:#D9D9D9;"> <strong>Planned Qty: </strong> </td>
                            <td style="background-color:#D9D9D9;"> <label class="control-label" id="lbl_CPlnQtybol8"></label> </td>
                        </tr>
                        <tr>
                            <td style="background-color:#BFBFBF;"><strong>BCU Qty: </strong></td>
                            <td style="background-color:#BFBFBF;"> <label class="control-label" id="lbl_CActQtybol5"></label> </td>
                            <td style="background-color:#D9D9D9;"> <strong>BCU Qty: </strong> </td>
                            <td style="background-color:#D9D9D9;"> <label class="control-label" id="lbl_CActQtybol6"></label> </td>
                            <td style="background-color:#BFBFBF;"> <strong>BCU Qty: </strong> </td>
                            <td style="background-color:#BFBFBF;"> <label class="control-label" id="lbl_CActQtybol7"></label> </td>
                            <td style="background-color:#D9D9D9;"> <strong>BCU Qty: </strong> </td>
                            <td style="background-color:#D9D9D9;"> <label class="control-label" id="lbl_CActQtybol8"></label> </td>
                        </tr>
                        <tr>
                            <td style="background-color:#BFBFBF;"><strong>Pre-Dip: </strong></td>
                            <td style="background-color:#BFBFBF;"> <label class="control-label" id="lbl_PreDip4"></label> </td>
                            <td style="background-color:#D9D9D9;"> <strong>Pre-Dip: </strong> </td>
                            <td style="background-color:#D9D9D9;"> <label class="control-label" id="lbl_PreDip5"></label> </td>
                            <td style="background-color:#BFBFBF;"> <strong>Pre-Dip: </strong> </td>
                            <td style="background-color:#BFBFBF;"> <label class="control-label" id="lbl_PreDip6"></label> </td>
                            <td style="background-color:#D9D9D9;"> <strong>Pre-Dip: </strong> </td>
                            <td style="background-color:#D9D9D9;"> <label class="control-label" id="lbl_PreDip7"></label> </td>
                        </tr>
                        <tr>
                            <td style="background-color:#BFBFBF;"><strong>Post-Dip: </strong></td>
                            <td style="background-color:#BFBFBF;"> <label class="control-label" id="lbl_PostDip4"></label> </td>
                            <td style="background-color:#D9D9D9;"> <strong>Post-Dip: </strong> </td>
                            <td style="background-color:#D9D9D9;"> <label class="control-label" id="lbl_PostDip5"></label> </td>
                            <td style="background-color:#BFBFBF;"> <strong>Post-Dip: </strong> </td>
                            <td style="background-color:#BFBFBF;"> <label class="control-label" id="lbl_PostDip6"></label> </td>
                            <td style="background-color:#D9D9D9;"> <strong>Post-Dip: </strong> </td>
                            <td style="background-color:#D9D9D9;"> <label class="control-label" id="lbl_PostDip7"></label> </td>
                        </tr>
                        <tr style="line-height:50px;">
                            <td colspan="8"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Density: _____________________</strong></td>
                            
                        </tr>
                        <tr>
                            <td colspan="4"><strong>Temperature: _____________________</strong></td>
                            <td colspan="4"> <strong>Signature: _____________________</strong> </td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal-footer">
                    <img src="~/Content/Images/BolFooter.png" style="background-repeat: no-repeat;background-size: 100% 100%;height: 70px; width:100%;" />
                </div>
            </div>
            <div class="col-md-12" style="text-align:right;margin-bottom: 15px;">
                <button type="button" class="btn btn-primary" onclick="PrintBolContent()">
                    Print
                </button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
            <script>
                function PrintBolContent() {
                    $("#printBOL").printMe();
                }
            </script>


            @*<div class="modal-content BOL-content" id="printBOL" style="background-image:url(../../Content/Images/Bol.png); z-index:-99999; background-repeat:no-repeat; width: 760px;-webkit-print-color-adjust: exact; ">
                    <div class="modal-body" style="height: 478px;">
                        <label class="control-label" id="lbl_BolDate" style="position: absolute;top: 110px;/* left: 185px; */font-size: 13px;right: 21px;"></label>
                        <label class="control-label" id="lbl_Vehbol" style="position: absolute;top: 139px;left: 110px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_Shipbol" style="position: absolute;top: 139px;left: 367px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_Custbol" style="position: absolute;top: 139px;left: 555px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_DDatebol" style="position: absolute;top: 173px;left: 110px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_EntTmebol" style="position: absolute;top: 173px;left: 327px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_ExtTimebol" style="position: absolute;top: 173px;left: 556px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_OdrCdebol" style="position: absolute;top: 258px;left: 30px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_prodbol" style="position: absolute;top: 258px;left: 140px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_Qtybol" style="position: absolute;top: 258px;left: 265px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_PlnQtybol" style="position: absolute;top: 258px;left: 380px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_ActQtybol" style="position: absolute;top: 258px;left: 497px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_ManualQtybol" style="position: absolute;top: 258px;left: 637px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_Compidbol1" style="position: absolute;top: 311px;left: 100px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_CPlnQtybol1" style="position: absolute;top: 332px;left: 100px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_CActQtybol1" style="position: absolute;top: 351px;left: 100px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_Compidbol2" style="position: absolute;top: 312px;left: 272px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_CPlnQtybol2" style="position: absolute;top: 332px;left: 272px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_CActQtybol2" style="position: absolute;top: 351px;left: 272px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_Compidbol3" style="position: absolute;top: 312px;left: 452px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_CPlnQtybol3" style="position: absolute;top: 333px;left: 452px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_CActQtybol3" style="position: absolute;top: 351px;left: 453px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_Compidbol4" style="position: absolute;top: 312px;right: 124px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_CPlnQtybol4" style="position: absolute;top: 333px;left: 627px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_CActQtybol4" style="position: absolute;top: 351px;left: 628px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_Compidbol5" style="position: absolute;top: 380px;left: 102px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_CPlnQtybol5" style="position: absolute;top: 401px;left: 102px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_CActQtybol5" style="position: absolute;top: 422px;left: 101px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_Compidbol6" style="position: absolute;top: 380px;left: 274px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_CPlnQtybol6" style="position: absolute;top: 401px;left: 274px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_CActQtybol6" style="position: absolute;top: 422px;left: 274px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_Compidbol7" style="position: absolute;top: 380px;left: 452px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_CPlnQtybol7" style="position: absolute;top: 401px;left: 452px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_CActQtybol7" style="position: absolute;top: 422px;left: 452px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_Compidbol8" style="position: absolute;top: 380px;left: 627px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_CPlnQtybol8" style="position: absolute;top: 401px;left: 627px;font-size: 13px;"></label>
                        <label class="control-label" id="lbl_CActQtybol8" style="position: absolute;top: 422px;left: 627px;font-size: 13px;"></label>
                        <br /> <br />
                        <label class="control-label" id="lbl_signature" style="position: absolute;top: 489px;left: 432px;font-size: 14px;">Signature: _____________________</label>
                    </div>
                    <div class="modal-footer hidden-print" style="border:none;">
                        <button class="btn btn-primary" onclick="window.print();"> Print </button>
                        <button class="btn btn-default" data-dismiss="modal">cancel</button>
                    </div>
                </div>*@
        </div>
    </div>
</div>

