<div class="modal fade bootstrapmodal1" id="printBOL">
    <div class="modal-dialog">
        <div class="modal-content BOL-content" id="printBOL" style="background-image:url(../../Content/Images/WeighBol.png); z-index:-99999; background-repeat:no-repeat; width: 760px;-webkit-print-color-adjust: exact; ">

            <div class="modal-body" style="height: 478px;border:0px;">

                <label class="control-label" id="lbl_BolDate" style="position: absolute;top: 110px;/* left: 185px; */font-size: 13px;right: 21px;"></label>

                <label  id="lbl_Vehbol" style="position: absolute;top: 137px;left: 110px;font-size: 13px;"></label>
                <label  id="lbl_Shipbol" style="position: absolute;top: 137px;left: 348px;font-size: 13px;"></label>
                <label  id="lbl_Driverbol" style="position: absolute;top: 137px;left: 549px;font-size: 13px;"></label>

                <label  id="lbl_Custbol" style="position: absolute;top: 169px;left: 130px;font-size: 13px;"></label>
                <label  id="lbl_Carrierbol" style="position: absolute;top: 170px;left: 452px;font-size: 13px;"></label>

                <label  id="lbl_Weighinbol" style="position: absolute;top: 204px;left: 123px;font-size: 13px;"></label>
                <label  id="lbl_Weighoutbol" style="position: absolute;top: 203px;left: 469px;font-size: 13px;"></label>

                <label  id="lbl_tarebol" style="position: absolute;top: 237px;left: 138px;font-size: 13px;"></label>
                <label  id="lbl_loadedbol" style="position: absolute;top: 236px;left: 491px;font-size: 13px;"></label>


                <label  id="lbl_OdrCdebol" style="position: absolute;top: 317px;left: 30px;font-size: 13px;"></label>
                <label  id="lbl_prodbol" style="position: absolute;top: 317px;left: 140px;font-size: 13px;"></label>
                <label  id="lbl_Qtybol" style="position: absolute;top: 317px;left: 265px;font-size: 13px;"></label>
                <label  id="lbl_ActQtybol" style="position: absolute;top: 317px;left: 505px;font-size: 13px;"></label>


                <br>
                <label  id="lbl_signature" style="position: absolute;top: 426px;left: 432px;font-size: 14px;">Signature: _____________________</label>



            </div>

            <div class="modal-footer hidden-print" style="border:none;margin-top: 0px;padding: 0px 20px 20px;">

                <button class="btn btn-primary" onclick="window.print();"> Print </button>
                <button class="btn btn-default" data-dismiss="modal">cancel</button>
            </div>
        </div>


    </div>
</div>


